// :root{
//     --main-color: #fba9d5;
//     --secound-color: #000;
//     --third-color: #FFF;
//     --font-color: #333;
//     --main-transition: 0.5s;
// }

:root{
    --main-color: #FF5C8D;
    --secound-color: #111;
    // --third-color: #FDEFF4;
    --third-color: #FFF;
    --font-color: #868686;
    --shadow-color: #efefef;
    --disabled-color: #a2a2a2;
    --main-font: 'Italiana', sans-serif;
    --secound-font: "Open Sans", sans-serif;
    --main-transition: 0.5s;
}
